.swiper-container {
  height: 200px;
  max-width: 200px;
  width: 80%;
}

.swiper-wrapper {
  width: 100px;
}

.swiper-slide {
//   height: 100px;
  & > img {
    height: 100%;
    width: 100%;
  }
}

.swiper-slid + .swiper-slid{
  margin-left: 20px;
}
