.slick-dots {
  display: flex;
  justify-content: center;
  bottom: auto;
}

.slick-dots li {
  height: 15px;
  width: 15px;
}


.slick-dots li button:before {
  font-size: 50px;
  height: 15px;
  width: 15px;
}

.slick-prev {
}

.slick-prev,
.slick-next {


}